/* Sección de viaje */
.travel-section {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido */
}

.travel-image {
  width: 80%; /* Reduce el ancho al 80% del contenedor */
  max-width: 300px; /* Máximo ancho fijo */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Sección Ruta Detalle */
.route-section {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido */
}

.map-image {
  width: 80%; /* Reduce el ancho al 80% del contenedor */
  max-width: 300px; /* Máximo ancho fijo */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
