@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
    font-family: "Roboto";
    background-color: #aaa;
}

.spacer {
    width: 100vw;
    height: 2vh;
    background-color: #000;
}

.content {
    width: 100vw;
    height: 98vh;
    display: grid;
    grid-template-rows: 70px 89vh;
}

.navbar {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.options {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.logo {
    width: 190px;
    margin: 0 0 0 50px;
}

.logo a {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.option {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.div-buttons {
    position: absolute;
    display: flex;
    gap: 20px;
    right: 20px;
}

.div-buttons a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
}

.div-buttons a:first-child {
    background-color: #fff;
    color: #000;
}