body, html { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9; /* Fondo gris claro */
}

.services-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.services-description {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
  max-width: 800px;
}

.service-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}

.service-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #666;
}

.main-action-btn {
  background-color: #49BEB7;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-action-btn:hover {
  background-color: #085F63;
}

